<div id="search-div">
  <%= form_tag('/search_friends', remote: true, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search Friends' %>
  <% end %>
</div>

<div class="friend-modal">
</div>
<!-- <% @users.each do |user| %>
  <div class="user">
    <p>
      <strong><%=h user.first_name %> <%=h user.last_name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %> -->
