<%= image_tag @user.image_url %>

<h3><%= @user.first_name  %> <%= @user.last_name %></h3>

<h2>My Friends</h2>

<% @user.friends.each do |friend| %>
    <img src="<%= friend.image_url %>">
      <%= friend.first_name %> <%= friend.last_name %>
    </img>
<% end %>

<h2>Friend Requests</h2>

<% @user.friend_requests.each do |request| %>
  <%= render partial: 'users/user', locals: {user: request.sender} %>
<% end %>
