<section id="trip-detail" class="container">
  <header class="grid_4 trip-header">
    <figure class="profile-photo">
      <%= image_tag @getaway.user.image_url %>
    </figure>
    <h1><%= @getaway.city %>, <%= @getaway.country %></h1>
    <h2><%= @getaway.user.first_name %> <%= @getaway.user.last_name %></h2>
    <button>Save as Itineraty</button>

    <a data-remote="true" href="<%= new_getaway_getaway_photo_path(@getaway) %>">
      Add Photo
    </a>
    <a data-remote="true" href="<%= getaway_getaway_photos_path(@getaway) %>">
      View Photos
    </a>
  </header>

  <section id="trip-info">
    <div class="grid_4">
      <p class="trip-story"><%= @getaway.comment %></p>
    </div>
    <div class="grid_3_1_first omega stayed">
      <h3>Where I stayed.</h3>
      <div class="add-cta">
        <a data-remote="true" href="<%= getaway_new_activity_path(@getaway.id, 'stay') %>">
          <div class="add-stayed"></div>
        </a>
        <p>Add a place</p>
      </div>
      <div style="clear: both;"></div>

      <ul class="trip-info-list">
        <% @stay_activities.each do |activity| %>
          <%= render partial: 'activities/activity', locals: {activity: activity} %>
        <% end %>
      </ul>
    </div>
    <div class="grid_3_1 alpha omega ate">
      <h3>Where I ate.</h3>
      <div class="add-cta">
        <a data-remote="true" href="<%= getaway_new_activity_path(@getaway.id, 'eat') %>">
          <div class="add-restaurant"></div>
        </a>
        <p>Add a restaurant</p>
      </div>
      <div style="clear: both;"></div>
      <ul class="trip-info-list">
        <% @eat_activities.each do |activity| %>
          <%= render partial: 'activities/activity', locals: {activity: activity} %>
        <% end %>
      </ul>
    </div>

    <div class="grid_3_1_last alpha played">
      <h3>Where I played.</h3>
      <div class="add-cta">
        <a data-remote="true" href="<%= getaway_new_activity_path(@getaway.id, 'play') %>">
          <div class="add-activity"></div>
        </a>
        <p>Add a activity</p>
      </div>
      <div style="clear: both;"></div>
      <ul class="trip-info-list">
        <% @play_activities.each do |activity| %>
          <%= render partial: 'activities/activity', locals: {activity: activity} %>
        <% end %>
      </ul>
    </div>
  </section>
</section>

<div class="modal">
  <div id="activity-modal">
  </div>
</div>
