    <section id="trip-detail" class="container">
      <header class="grid_4 trip-header">
        <figure class="profile-photo"></figure>
        <h1>Cape Corral, Fl</h1>
        <h2>Gadi Gottleib</h2>
        <button>Save as Itineraty</button>
      </header>

      <section id="trip-info">
        <div class="grid_3_1_first omega stayed">
          <h3>Where I stayed.</h3>
          <div class="add-cta">
            <div class="add-stayed"></div>
            <p>Add a place</p>
          </div>
          <div style="clear: both;"></div>
          <div id="add-stayed-form">
            <form class="add-place-form" action="" method="" name="signup">
              <label for="first-name">First Name:</label>
              <input type="text" name="first-name" placeholder="First Name">
              <label for="last-name">Last Name:</label>
              <input type="text" name="last-name" placeholder="Last Name">
              <label for="email">Email:</label>
              <input type="text" name="email" placeholder="you@example.com">
            </form>
          </div>
          <ul class="trip-info-list">
            <li>
              <figure></figure>
              <div class="trip-info-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
              <figure></figure>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
              <figure></figure>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
          </ul>
        </div>
        <div class="grid_3_1 alpha omega ate">
          <h3>Where I ate.</h3>
          <div class="add-cta">
            <div class="add-restaurant"></div>
            <p>Add a restaurant</p>
          </div>
          <div style="clear: both;"></div>
          <ul class="trip-info-list">
            <li>
              <figure></figure>
              <div class="trip-info-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
              <figure></figure>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
              <figure></figure>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
          </ul>
        </div>
        <div class="grid_3_1_last alpha played">
          <h3>Where I played.</h3>
          <div class="add-cta">
            <div class="add-activity"></div>
            <p>Add a activity</p>
          </div>
          <div style="clear: both;"></div>
          <ul class="trip-info-list">
            <li>
              <figure></figure>
              <div class="trip-info-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
              <figure></figure>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
              <figure></figure>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
          </ul>
        </div>
      </section>
    </section>

    <div class="modal">
      <div id="login-modal">
        <button class="close">Close</button>
        <form class="login-form" action="GET" method="" name="login">
          <label for="email">Email:</label>
          <input type="text" name="email" placeholder="you@example.com">
          <button class="login-button" type="submit">Login</button>
        </form>
      </div>
    </div>

    <div id="add-photos">
      <%= form_for GetawayPhoto.new, :html => { :multipart => true } do |f| %>
          <%= f.file_field :photo %>
          <%= f.hidden_field :getaway_id, value: @getaway.id %>
          <%= f.submit %>
      <% end %>
    </div>

    <div id="view-photos">
      <%= link_to "View Photos" %>
    </div>
