<li id="<%= dom_id(activity) %>">
  <figure><%= image_tag activity.image_url %></figure>
  <%= link_to 'Change Activity Photo', activity_change_photo_path(activity), remote: true %>
  <%= link_to 'remove', activity_path(activity), method: :delete, remote: true %>
  <p><%= activity.name %></p>
  <div class="trip-info-detail"><%= activity.comment %></div>
</li>
