<li id="<%= dom_id(activity) %>">
  <figure class="activity-image"><%= image_tag activity.image_url %></figure>
  <h2 class="activity-name"><%= activity.name %></h2>

  <div class="trip-info-detail"><%= activity.comment %></div>
  <div class="delete-wrapper">
    <%= link_to 'Delete', activity_path(activity), method: :delete, remote: true, class: 'remove-activity' %>
  </div>

  </li>
