<!DOCTYPE html>
<html>
<head>
  <title>RetreatApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= form_tag '/login', method: 'get', remote: true do %>
    <%= submit_tag 'Log In' %>
  <% end %>

  <div id='#session-modal'>
  </div>

  <%= form_tag '/signup', method: 'get', remote: true do %>
    <%= submit_tag 'Sign Up' %>
  <% end %>

<%= yield %>

</body>
</html>
